/*************************************/
/*=========     GLOBAL     =========*/
/***********************************/


/*************************************/
/*=========     HEADER     =========*/
/***********************************/
.navbar-default{
	background-color: #222;
	border:none;

	.navbar-toggle{
		border:none;
		background-color:$main-color;
		color:#fff;
		&:hover,
		&:active,
		&:focus{
			background: $main-color !important;
		}
	}

	.navbar-brand{
		color: $main-color !important;
		font-family: $second-font;
		&:hover,
		&:active,
		&:focus{
			color: $main-color !important;
		}
	}

	.navbar-collapse{
		border-color: $comp-color;
	}

	.navbar-nav{
		> li{
			> a{
				color:#fff !important;
				text-transform: uppercase;
			}
		}
	}
}

/*************************************/
/*=========     BANNER     =========*/
/***********************************/
#banner{
	background: url(../images/header-bg.jpg) no-repeat;
	background-repeat: no-repeat;
	background-position:center-center;
	padding: 150px 0 50px;
	background-size:cover;

	h4{
		color: #fff;
		font: 400;
		font-style: italic;
		font-size: 22px;
		line-height: 22px;
		font-family: $fourth-font;
		margin-bottom: 25px;
	}

	h1{
		color: #fff;
		font-weight: 700;
		font-size: 50px;
		line-height: 50px;
		font-family: $third-font;
		text-transform: uppercase;
		margin-bottom: 25px;
	}

	.btn-info{
		background-color: $main-color;
		border: none;
		color: #fff !important;
		font-weight: bold;
		text-transform: uppercase;
		font-family: $third-font;
		box-shadow: 0 0 2px $main-color;
	}
}

/***************************************/
/*=========     SERVICES     =========*/
/*************************************/
#services{
	padding: 100px 0;
	i{
		width: 100px;
		height: 100px;
		@include b-ra(50%);
		background-color: $main-color;
		color: #fff !important;
		display: inline-block;
		line-height: 100px;
		font-size: 70px !important;
		margin-top: 50px;
	}
}

/****************************************/
/*=========     PORTFOLIO     =========*/
/**************************************/
.portfolio{
	background-color: #E7E3E3;

	img{
		padding: 0px;
	}
	
	h2{
		font-size: 60px !important;
		text-transform: uppercase;
		font-weight: bold;
		font-family: sans-serif;
		margin-bottom: 0px;
	}

	p{
		color: #5B5B5B;
	}

}
	.portfolio-foot{
		background-color: #FFF;
		width: 400px;
		margin:auto;
		h3{
			padding-top: 40px;
			font-family: sans-serif;
			font-weight: bold;
			margin:0px;
			}
		p{
			font-size:20px;
			font-style: italic;
			padding-bottom: 40px;
		}
	}
/**************************************/
/*=========      TEAM       =========*/
/************************************/
.team{
	background-color: #E7E3E3;
	border: solid 5px red;
	
	h3{
		margin-top: 200px;
		font-family: sans-serif;
		font-weight: bold;
		font-size: 60px;
	}

	img{
		margin-top: 20px;
		border-radius: 50%;
		border: solid 5px white;

	}

	h5{
		font-family: sans-serif;
		font-weight: bold;
		font-size: 30px;
		margin: 30px 0px 0px 0px;
	}

	i{
		margin-top: 20px;
		font-size: 20px;
		background-color: #4E4C4C;
		color: #FFF;
		padding: 10px 15px 10px 15px;
		border-radius: 50%;

	}
}

/**************************************/
/*=========     CONTACT     =========*/
/************************************/



/************************************/
/*=========     FOOTER     =========*/
/************************************/